.row
	.container
		%h2
			Input payment information : [#{@user.name.to_s.humanize}]
		= simple_form_for(:user, :url => user_path(@user.id), :html => { :method => :put, :class => 'form-vertical' }) do |f|
			= f.error_notification
			.control-group
				.control-label.required Currency
				%input{name: :currency, value: 'GBP'}
			.control-group
				.control-label.required Card Holder's name
				%input{name: :card_holder_name, value: 'Jeff Smith'}
			.control-group
				.control-label.required Card Number
				%input{name: :card_number, value: '4929000000006'}
			.control-group
				.control-label.required Expiry Date (MMYY)
				%input{name: :expiry_date, value: '0115'}
			.control-group
				.control-label.required CV2
				%input{name: :cv2, value: '123'}
			.control-group
				.control-label.required Card Type
				%input{name: :card_type, value: 'VISA'}
			= f.button :submit, 'Publish', :class => 'btn-primary'
			= link_to 'Delete', user_delete_token_path(@user.id), class: 'btn btn-danger'